<% content_for(:title, t('.title')) %>
<div class="flex justify-center pt-20 mb-5">
  <h1 class="text-lg font-semibold" >ユーザー情報</h1>
</div>

<div class="bg-white rounded-xl shadow-md border border-neutral-200 p-6 text-center w-5/6 mx-auto">

  <div class="w-full md:w-1/2 mx-auto h-full">
    <div class="flex justify-center mt-4 mb-4">
      <%= image_tag current_user.avatar_url, class: 'rounded-full h-40 w-40 border-2 object-contain' %>
    </div>

    <div class="py-4 px-1">
      <div class="md:text-lg font-semibold mb-3 break-all">
        <%= current_user.name %>
      </div>

      <div class="text-sm md:text-lg font-semibold mb-3 overflow-hidden text-ellipsis whitespace-nowrap">
        <%= current_user.email %>
      </div>
    </div>
  </div>

  <div>
    <%= link_to "編集", edit_profile_path, class: "btn w-full md:w-2/5 mt-2 mb-3 text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none" %>
  </div>

  <div>
    <%= link_to "パスワード再設定", new_password_reset_path, class: "btn w-full md:w-2/5 mb-4 text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none" %>
  </div>
</div>

<div class="p-6 mt-20 flex justify-center w-5/6 mx-auto">
  <%= link_to "アカウント削除", profile_path, data: { turbo_method: "delete", turbo_confirm: "アカウントを削除すると、投稿やお気に入り等の関連情報もすべて削除されます。本当に削除してよろしいですか？" }, class: "btn w-full md:w-2/5 mb-5 text-darkbrown bg-gray1 hover:text-white hover:bg-gray2 border-none" %>
</div>