<!-- 大画面用 -->
<div class="hidden lg:block">
  <div class="fixed top-0 start-0 bottom-0 z-50 w-60 border-e-2 border-neutral-100 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0">
      <div class="px-6 flex flex-col items-center">
        <%= link_to image_tag("header_logo.png", width: "60", height: "60", class: "rounded-lg border-2 border-natural hover:border-mocha"), root_path %>
        <span class="mt-1 text-base">TOP</span>
      </div>
      <nav class="p-6 flex flex-col flex-wrap">
        <ul class="font-semibold">
          <li>
            <%= link_to posts_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-house text-xl"></i>
              <span class="ml-1"><%= t('.index') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to searches_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-search text-xl"></i>
              <span class="ml-1"><%= t('.search') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-plus-square text-xl"></i>
              <span class="ml-1"><%= t('.post_new') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to favorites_posts_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-heart text-xl"></i>
              <span class="ml-1"><%= t('.favorite') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to brand_admin_mypage_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-person-circle text-xl"></i>
              <span class="ml-1"><%= t('.mypage') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to profile_path, class: "mb-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-person-vcard text-xl"></i>
              <span class="ml-1"><%= t('.profile') %></span>
            <% end %>
          </li>

          <!-- ブランドアカウント専用機能 -->
          <li class="border-t">
            <%= link_to brand_admin_products_path, class: "mt-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-file-earmark-spreadsheet text-xl"></i>
              <span class="ml-1"><%= t('.products') %></span>
            <% end %>
          </li>
          <li class="border-b">
            <%= link_to new_brand_admin_product_path, class: "mb-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-file-earmark-plus text-xl"></i>
              <span class="ml-1"><%= t('.product_new') %></span>
            <% end %>
          </li>
          <!-- ここまで -->

          <li class="border-t">
            <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア",
            class: "mt-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
                <i class="bi bi-twitter-x text-xl"></i>
                <span class="ml-1"><%= t('.x_share') %></span>
            <% end %>
          </li>

          <li class="fixed bottom-4">
            <%= link_to logout_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white", data: { turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？' } do %>
              <i class="bi bi-box-arrow-left text-xl"></i>
              <span class="ml-1"><%= t('.logout') %></span>
            <% end %>
          </li>
        </ul>
      </nav>
  </div>
</div>

<!-- 中画面用 -->
<div class="hidden md:block lg:hidden">
  <div class="fixed top-0 start-0 bottom-0 z-50 w-20 border-e-2 border-neutral-100">
    <div class="flex flex-col justify-center items-center gap-y-4 py-5">
      <div class="mt-5 mb-4 font-bold flex flex-col items-center">
        <%= link_to image_tag("header_logo.png", width: "30", height: "30", class: "rounded-lg border-2 border-natural hover:border-mocha"), root_path %>
        <span class="text-[0.6rem] font-medium py-1.5">TOP</span>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div class="inline-block">
          <%= link_to posts_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-house text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.index') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to searches_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-search text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.search') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to new_post_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-plus-square text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.post_new') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to favorites_posts_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-heart text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.favorite') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to brand_admin_mypage_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-person-circle text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.mypage') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to profile_path, class:"mb-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-person-vcard text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.profile') %></span>
          <% end %>
        </div>

        <!-- ブランドアカウント専用機能 -->
        <div class="inline-block border-t">
          <%= link_to brand_admin_products_path, class:"mt-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-file-earmark-spreadsheet text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.products') %></span>
          <% end %>
        </div>
        <div class="inline-block border-b">
          <%= link_to new_brand_admin_product_path, class:"mb-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-file-earmark-plus text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.product_new') %></span>
          <% end %>
        </div>
        <!-- ここまで -->

        <div class="inline-block  border-t">
          <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア",
          class: "mt-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white" do %>
            <i class="bi bi-twitter-x text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.x_share') %></span>
          <% end %>
        </div>

        <div class="fixed bottom-2 inline-block">
          <%= link_to logout_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？'} do %>
            <i class="bi bi-box-arrow-left text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.logout') %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- スマホ用 -->
<div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full border-b-2 border-neutral-100 bg-beige text-sm py-2 fixed top-0 left-0 right-0 z-50">
  <nav class="max-w-[85rem] w-full mx-auto px-2" aria-label="Global">
    <div class="flex items-center justify-between">
      <div>
        <div class="flex flex-col items-center px-4">
          <%= link_to image_tag("header_logo.png", width: "36", height: "36", class: "rounded-lg border border-natural hover:border-mocha"), root_path %>
        </div>
      </div>
        <ul class="menu menu-horizontal px-4 max-width ">
          <li>
            <details class="relative border rounded-lg">
              <summary class="font-medium">menu</summary>
                <ul class="absolute top-[22px] right-0 shadow rounded-box w-48 font-semibold">
                  <li>
                    <%= link_to brand_admin_mypage_path, class: "dropdown-content flex items-center text-sm rounded-lg justify-start" do %>
                      <i class="bi bi-person-circle text-lg"></i>
                      <span class="ml-1"><%= t('.mypage') %></span>
                    <% end %>
                  </li>
                  <li class="mb-1">
                    <%= link_to profile_path, class: "dropdown-content flex items-center text-sm rounded-lg justify-start" do %>
                      <i class="bi bi-person-vcard text-lg"></i>
                      <span class="ml-1"><%= t('.profile') %></span>
                    <% end %>
                  </li>

                  <!-- ブランドアカウント専用機能 -->
                  <li class="border-t mt-1">
                    <%= link_to brand_admin_products_path, class: "dropdown-content flex items-center text-sm rounded-lg justify-start" do %>
                      <i class="bi bi-file-earmark-spreadsheet text-lg"></i>
                      <span class="ml-1"><%= t('.products') %></span>
                    <% end %>
                  </li>
                  <li class="border-b mb-1">
                    <%= link_to new_brand_admin_product_path, class: "dropdown-content flex items-center text-sm rounded-lg justify-start" do %>
                      <i class="bi bi-file-earmark-plus text-lg"></i>
                      <span class="ml-1"><%= t('.product_new') %></span>
                    <% end %>
                  </li>
                  <!-- ここまで -->

                  <li class="my-1">
                    <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, class: "dropdown-content flex items-center text-sm rounded-lg justify-start" do %>
                      <i class="bi bi-twitter-x text-lg"></i>
                      <span class="ml-1"><%= t('.x_share') %></span>
                    <% end %>
                  </li>

                  <li class="border-t mt-1">
                    <%= link_to logout_path, class: "dropdown-content flex items-center text-sm rounded-lg justify-start", data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？'} do %>
                      <i class="bi bi-box-arrow-left text-lg"></i>
                      <span class="ml-1"><%= t('.logout') %></span>
                    <% end %>
                  </li>
                </ul>
            </details>
          </li>
        </ul>
    </div>
  </nav>
</div>

<!-- スマホ用ボトムナビゲーション -->
<div class="fixed inset-x-0 bottom-0 z-50 bg-beige border-t-2 border-neutral-100 shadow-md md:hidden">
  <div class="flex flex-row justify-between items-center pb-5 px-2">
    <div class="inline-block flex-1">
      <%= link_to posts_path, class:"flex flex-col items-center py-2 px-1 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-house text-xl"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.index') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to searches_path, class:"flex flex-col items-center py-2 px-1 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-search text-xl"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.search') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%=link_to new_post_path, class:"flex flex-col items-center py-2 px-1 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-plus-square text-xl"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.post_new') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to favorites_posts_path, class:"flex flex-col items-center py-2 px-1 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-heart text-xl"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.favorite') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to brand_admin_mypage_path, class:"flex flex-col items-center py-2 px-1 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-person-circle text-xl"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.mypage') %></span>
      <% end %>
    </div>
  </div>
</div>