<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto text-yellow-900">
      <h1 class="text-xl text-center font-semibold mt-10 mb-4 pb-2">
        パスワード再設定
      </h1>

      <%= form_with model: @user, url: password_reset_path(@token),  method: :patch do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="mb-3">
            <%= f.label :email, t('.email'), class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
            <%= f.email_field :email, value: @user.email, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10", disabled: true %>
          </div>
          <div class="mb-3">
            <%= f.label :password, t('.new_password'), class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
            <%= f.password_field :password, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, t('.password_confirmation'), class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
            <%= f.password_field :password_confirmation, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
          </div>
          <div class="mx-auto w-10/12 md:w-1/2">
            <%= f.submit t('.submit'), class: "btn mt-8 w-full mt-6 mb-5 mx-auto h-10 bg-[#E6CCB585] text-yellow-900" %>
          </div>
        <% end %>

    </div>
  </div>
</div>
