<div class="bg-light">
  <div class="overlay-content container mx-auto px-6">
    <div class="py-60 text-start">
      <h2 class="text-sm md:text-base text-mocha mb-4">革製品のエイジング共有サービス</h2>
      <h1 class="text-5xl md:text-6xl lg:text-6xl font-shippori-mincho-800 font-extrabold text-darkgray mb-20">Leather Palette</h1>
      <p class="text-sm lg:text-base font-semibold text-darkbrown mb-1">Leather Paletteは、革製品のエイジング写真やメンテナンス方法の共有ができるサービスです。</p>
      <p class="text-sm lg:text-base font-semibold text-darkbrown mb-20">共有された投稿を、ブランド名や使用年数、カラーから検索することができます。</p>
    </div>

    <h3 class="text-lg font-semibold text-center p-5">ログインせずに使える機能</h3>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">

      <div class="bg-white  rounded-xl shadow-md p-6 text-center">
        <h3 class="text-xl font-semibold mb-6">投稿閲覧</h3>
        <p class="text-sm text-start">他のユーザーが共有している投稿を自由に閲覧することが出来ます。<br>使い手による変化の違いを楽しみましょう！</p>
        <div class="flex justify-center mt-6 mb-6">
          <%= link_to posts_path, class: "flex items-center text-center py-3 px-4 font-semibold text-sm rounded-3xl bg-light_orange hover:bg-orange" do %> 投稿を見てみる<i class="bi bi-eyeglasses text-lg"></i>
          <% end %>
        </div>
      </div>

      <div class="bg-white rounded-xl shadow-md p-6 text-center">
        <h3 class="text-xl font-semibold mb-6">検索</h3>
        <p class="text-sm text-start">ブランド名や使用年数、カラーで検索ができます。<br>気になるアイテムの変化を購入前に確認して、お買い物のヒントにしてみてください。</p>
        <div class="flex justify-center mt-6 mb-6">
          <%= link_to searches_path, class: "flex items-center text-center py-3 px-4 font-semibold text-sm rounded-3xl bg-light_orange hover:bg-orange" do %> 投稿を検索する<i class="bi bi-search text-lg"></i>
          <% end %>
        </div>
      </div>
    </div>

    <h3 class="text-lg font-semibold text-center mt-14 p-6">ログイン後に使える機能</h3>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">

      <div class="bg-white rounded-xl shadow-md p-6 text-center">
        <h3 class="text-xl font-semibold mb-6">投稿作成</h3>
        <p class="text-sm text-start">自分のアイテムとエイジングに関する情報（使用年数やお手入れ方法）を一緒に登録出来ます。<br>素敵な相棒の変化の過程を共有！</p>
      </div>

      <div class="bg-white rounded-xl shadow-md p-6 text-center">
        <h3 class="text-xl font-semibold mb-6">非公開・下書き</h3>
        <p class="text-sm text-start">投稿を非公開で作成したり、下書きとして保存をしておくことが出来ます。<br>自分用の記録として、一時的なメモとしてご活用ください。</p>
      </div>

      <div class="bg-white rounded-xl shadow-md p-6 text-center">
        <h3 class="text-xl font-semibold mb-6">お気に入り</h3>
        <p class="text-sm text-start">他のユーザーの投稿をお気に入りに保存することが出来ます。<br>素敵な投稿をいつでも見返して、お手入れや使い方の参考に！</p>
      </div>
    </div>

    <% unless logged_in? %>
      <div class="flex justify-center items-center mt-20">
        <div class="mx-2">
          <%= link_to new_user_path, class: "btn text-sm rounded-lg justify-start text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none" do %>
            <i class="bi bi-person-add text-lg"></i>
            <span class="ml-1"><%= t('.sign_up') %></span>
          <% end %>
        </div>
        <div class="mx-2">
          <%= link_to login_path, class: "btn text-sm rounded-lg justify-start text-natural bg-mocha hover:text-darkbrown hover:bg-natural " do %>
            <i class="bi bi-box-arrow-in-right text-lg"></i>
            <span class="ml-1"><%= t('.login') %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>