<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto text-yellow-900">
      <h1 class="text-xl text-center font-semibold mt-10 mb-4 pb-2">
        新規登録
      </h1>
      <%= form_with model: @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :name, class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
          <%= f.text_field :name, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
          <%= f.email_field :email, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
          <%= f.password_field :password, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "label w-10/12 md:w-1/2 mx-auto text-sm" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered form-control w-10/12 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mx-auto w-10/12 md:w-1/2">
          <%= f.submit "登録", class: "btn mt-8 w-full mt-6 mb-5 mx-auto h-10 bg-[#E6CCB585] text-yellow-900" %>
        </div>
      <% end %>

      <!--  Google 認証リンク -->
      <div class="text-center text-sm">
        OR
      <div>

      <!-- Google ログイン -->
      <%= link_to auth_at_provider_path(provider: :google) do %>
        <%= image_tag "google_sign_up.png", class: "w-2/3 md:w-1/4 lg:w-1/4 xl:w-1/6 mx-auto py-5" %>
      <% end %>

      <div class="flex flex-col flex-wrap flex items-center">
        <%= link_to new_brand_admin_user_path, class: "btn btn-ghost text-center mt-3 leading-5 font-semibold bg-neutral-100" do %>
          <span>ブランドアカウント登録はこちら☜<br>(ページが切り替わります)</span>
        <% end %>
      </div>
      
      <div class="text-center mt-6 text-sm">
        <%= link_to t('.to_login_page'), login_path %>
      </div>
    </div>
  </div>
</div>