<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <h1 class="text-lg text-center font-semibold pt-20 mb-4">
        新規登録
      </h1>
      <!-- turboの無効化は、エラーが発生すると、その後のフォーム入力でJavascriptが読み込まれなくなる事を防ぐ為。 -->
      <%= form_with model: @user, data: { turbo: false } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :name, class: "label w-5/6 md:w-1/2 mx-auto text-sm" %>
          <%= f.text_field :name, class: "input input-bordered form-control w-5/6 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: "label w-5/6 md:w-1/2 mx-auto text-sm" %>
          <%= f.email_field :email, class: "input input-bordered form-control w-5/6 md:w-1/2 mx-auto h-10", id: "user_email" %>
            <!-- gmailアカウントは受け付けず、Googleログインを促す -->
            <div id="email-warning" class="text-red-500 hidden text-sm mt-1 w-5/6 md:w-1/2 mx-auto">
                <%= t('.gmail_warning') %>
            </div>
          </div>
        <div class="mb-3">
          <%= f.label :password, class: "label w-5/6 md:w-1/2 mx-auto text-sm" %>
          <%= f.password_field :password, class: "input input-bordered form-control w-5/6 md:w-1/2 mx-auto h-10", placeholder: "8文字以上で入力してください" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "label w-5/6 md:w-1/2 mx-auto text-sm" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered form-control w-5/6 md:w-1/2 mx-auto h-10" %>
        </div>
        <div class="mx-auto w-5/6 md:w-1/2">
          <%= f.submit "登 録", class: "btn mt-8 w-full mt-6 mb-5 mx-auto h-10 text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none", id: "submit_button" %>
        </div>
      <% end %>

      <!--  Google 認証リンク -->
      <div class="divider w-5/6 md:w-1/2 mx-auto py-4 text-sm">または Googleアカウントで登録</div>

      <!-- Google ログイン -->
      <div class="w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/6 mx-auto my-4">
        <%= link_to auth_at_provider_path(provider: :google) do %>
          <%= image_tag "google_sign_up.png" %>
        <% end %>
      </div>

      <div class="divider w-5/6 md:w-1/2 mx-auto py-4 text-sm"></div>

      <div class="text-center my-6 text-sm">
        <%= link_to t('.to_login_page'), login_path %>
      </div>

      <div class="text-center mx-auto mt-60 text-sm">ブランドアカウントの登録はこちら☟</div>

      <div class="flex flex-col flex-wrap flex items-center mt-2">
        <%= link_to new_brand_admin_user_path, class: "btn text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none text-center mt-3 leading-5 text-xs" do %>
          <span>ブランド登録入口</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    // メールアドレスがGmailアドレスの場合、警告を表示
    // 'turbo:load'はTurboを使ったアプリケーションでページ遷移時の際に新しいコンテンツが読み込まれたときに発火するイベント
    // 'DOMContentLoaded'では無く、'turbo:load'を使用(DOMContentLoadedイベントは、ページが完全に再読み込みされたときのみ発火するため)
    document.addEventListener('turbo:load', function() {
        // 各要素の取得
        const emailInput = document.getElementById('user_email');
        const emailWarning = document.getElementById('email-warning');
        const submitButton = document.getElementById('submit_button');

        // 'user_email' が存在する場合のみ、イベントリスナーを追加
        if (emailInput) {
            emailInput.addEventListener('input', function() {
                // @gmail.comが含まれている場合に警告を表示し、登録ボタンを非表示にする
                if (emailInput.value.includes('@gmail.com')) {
                    emailWarning.classList.remove('hidden');
                    submitButton.classList.add('hidden');  // 登録ボタンを非表示
                } else {
                    emailWarning.classList.add('hidden');
                    submitButton.classList.remove('hidden');  // 登録ボタンを表示
                }
            });
        }
    });
</script>