<%= form_with model: @product, url: @product.new_record? ? brand_admin_products_path : brand_admin_product_path(@product), local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div data-controller="image-preview" data-image-preview-width="250" data-image-preview-height="250">
    <%= f.label :product_image, '画像選択', class: 'label w-5/6 md:w-1/2 mx-auto pt-5 font-medium' %>
    <%= f.file_field :product_image, class: 'file-input file-input-bordered form-control w-5/6 md:w-1/2 mx-auto text-sm', accept: 'image/*', data: { "image-preview-target": "input", action: "change->image-preview#previewImage"} %>
    <%= f.hidden_field :product_image_cache %>

  <!-- 画像の説明 -->
  <div class="flex justify-center mt-2">
    <p class="text-center text-sm">以下に表示される画像が登録されます</p>
  </div>
  <!-- サムネイル表示 -->
  <div class="flex justify-center mt-4" data-image-preview-target="existing">
    <%= image_tag(product.product_image_url, class: 'h-60 w-60 border-2 object-contain') if product.product_image? %>
  </div>
  <div class="flex justify-center mt-4" data-image-preview-target="preview"></div>
</div>

  <%= f.label :product_name, class: "label w-5/6 md:w-1/2 mx-auto pt-4 font-medium" %>
  <%= f.text_field :product_name, placeholder: "商品名をご入力ください", class: "input input-bordered form-control w-5/6 md:w-1/2 mx-auto h-10", required: true %>

  <div class='mx-auto w-5/6 md:w-1/2'>
    <%= f.submit "登録", class: "btn mt-8 w-full mt-6 mb-5 mx-auto h-10 bg-[#E6CCB585] hover:bg-[#fdba74] text-yellow-900", id: "submit-button" %>
  </div>
<% end %>