<!-- 大画面用 -->
<div class="hidden lg:block">
  <div class="fixed top-0 start-0 bottom-0 z-[60] w-60 border-e-2 border-neutral-100 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0">
      <div class="px-6 flex flex-col">
        <%= link_to root_path, class: "btn btn-ghost flex items-center text-xl rounded-lg justify-start font-bold text-yellow-900 hover:bg-white" do %>
          <span>LeatherPalette</span>
        <% end %>
      </div>
      <nav class="p-6 flex flex-col flex-wrap text-yellow-900">
        <ul class="font-semibold">
          <li>
            <%= link_to login_path, class: "btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-box-arrow-in-right text-xl"></i>
              <span class="ml-1"><%= t('.login') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_path, class: "mb-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-person-add text-xl"></i>
              <span class="ml-1"><%= t('.sign_up') %></span>
            <% end %>
          </li>
          <li class="border-t">
            <%= link_to posts_path, class: "mt-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-house text-xl"></i>
              <span class="ml-1"><%= t('.index') %></span>
            <% end %>
          </li>
          <li class="border-b">
            <%= link_to searches_path, class: "mb-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
              <i class="bi bi-search text-xl"></i>
              <span class="ml-1"><%= t('.search') %></span>
            <% end %>
          </li>
          <li class="border-t">
            <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア",
             class: "mt-4 btn btn-ghost flex items-center text-sm rounded-lg justify-start hover:bg-white" do %>
                <i class="bi bi-twitter-x text-xl"></i>
                <span class="ml-1"><%= t('.x_share') %></span>
            <% end %>
          </li>
        </ul>
      </nav>
  </div>
</div>

<!-- 中画面用 -->
<div class="hidden md:block lg:hidden">
  <div class="fixed top-0 start-0 bottom-0 z-[60] w-20 border-e-2 border-neutral-100 text-yellow-900">
    <div class="flex flex-col justify-center items-center gap-y-4 py-5">
      <div class="mt-5 mb-4 font-bold">
        <%= link_to root_path, class: "flex-none text-xl font-semibold" do  %>
          <i class="bi bi-image"></i>
        <% end %>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div class="inline-block">
          <%= link_to login_path, class:"flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-box-arrow-in-right text-base mx-3"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.login') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to new_user_path, class:"mb-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-person-add text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.sign_up') %></span>
          <% end %>
        </div>

        <div class="inline-block  border-t">
          <%= link_to posts_path, class:"mt-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-house text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.index') %></span>
          <% end %>
        </div>
        <div class="inline-block">
          <%= link_to searches_path, class:"mb-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white", data: { turbo: false } do %>
            <i class="bi bi-search text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.search') %></span>
          <% end %>
        </div>

        <div class="inline-block  border-t">
          <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア",
          class: "mt-2 flex flex-col items-center py-1.5 px-2.5 text-sm rounded-lg hover:bg-white" do %>
            <i class="bi bi-twitter-x text-base"></i>
            <span class="text-[0.6rem] font-medium"><%= t('.x_share') %></span>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- スマホ用ボトムナビゲーション -->
<div class="fixed inset-x-0 bottom-0 z-10 bg-beige border-t-2 border-neutral-100 shadow-md md:hidden">
  <div class="flex flex-row justify-between items-center pb-5 px-2 text-yellow-900">
    <div class="inline-block flex-1">
      <%= link_to posts_path, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-house text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.index') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to searches_path, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-search text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.search') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Leather%20Palette%20革製品のエイジング共有・検索サービス%0A%23LeatherPalette_app", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100" do %>
        <i class="bi bi-twitter-x text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.x_share') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to root_path, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-asterisk text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.top') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%= link_to new_user_path, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-person-add text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.sign_up') %></span>
      <% end %>
    </div>
    <div class="inline-block flex-1">
      <%=link_to login_path, class:"flex flex-col items-center py-2 px-1 rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
        <i class="bi bi-box-arrow-in-right text-lg"></i>
        <span class="text-[0.6rem] font-medium mt-1"><%= t('.login') %></span>
      <% end %>
    </div>
  </div>
</div>