<header>
<!-- 大きな画面用 -->
  <div class="hidden lg:block">
    <div class="navbar bg-neutral-100 text-yellow-900">
      <div class="flex-1">
          <div class="btn btn-ghost text-xl"><%= link_to "LeatherPalette", root_path %></div>
      </div>
      <div class="flex-none">
        <div>
          <label class="btn btn-ghost"><%= link_to "ログアウト", "#", data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？'} %></label>
          <label class="btn btn-ghost"><%= link_to "マイページ", "#" %></label>
        </div>
      </div>
    </div>
  </div>

<!-- 中くらいの画面用 -->
  <div class="hidden md:block lg:hidden">
    <div class="navbar bg-neutral-100 text-yellow-900">
      <div class="flex-1">
          <div class="btn btn-ghost text-xl"><%= link_to "LeatherPalette", root_path %></div>
      </div>
      <div class="flex-none">
        <div>
          <label class="btn btn-ghost"><%= link_to "ログアウト", "#", data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？'} %></label>
          <label class="btn btn-ghost"><%= link_to "マイページ", "#" %></label>
        </div>
      </div>
    </div>
  </div>

<!-- スマホ用 -->
  <div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full bg-neutral-100 text-sm py-2">
    <nav class="max-w-[85rem] w-full mx-auto px-4 text-yellow-900" aria-label="Global">
      <div class="flex items-center justify-between">
        <div>
          <div class="btn btn-ghost text-xl"><%= link_to "LeatherPalette", root_path %></div>
        </div>
          <ul class="menu menu-horizontal px-1 max-width">
            <li>
              <details class="relative">
                <summary><i class="bi bi-person-circle"></i>menu</summary>
                  <ul class="p-1 z-5 absolute right-0 shadow">
                    <li><label class="btn btn-ghost"><%= link_to "ログアウト", "#", data: {turbo_method: :delete, turbo_confirm: 'ログアウトしてもよろしいですか？'} %></li>
                    <li><label class="btn btn-ghost"><%= link_to "マイページ", "#" %></li>
                  </ul>
              </details>
            </li>
          </ul>
      </div>
    </nav>
  </div>

  <!-- スマホ用のメニューバー -->
  <div class="fixed inset-x-0 bottom-0 z-10 bg-[#fffffe] border-t-2 border-neutral-100 shadow-md md:hidden">
    <div class="flex flex-row justify-between items-center py-3 text-yellow-900 mb-5">
      <div class="grid"><!-- 左端の透明なスペース --></div>
      <div class="hs-tooltip inline-block [--placement:right]">
        <%= link_to "#_path", class:"flex items-center gap-x-3.5 py-2 px-3 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
          <i class="bi bi-house text-xl"></i>
        <% end %>
      </div>
      <div class="hs-tooltip inline-block [--placement:right]">
        <%= link_to "#_path", class:"flex items-center gap-x-3.5 py-2 px-3 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
          <i class="bi bi-search text-xl"></i>
        <% end %>
      </div>
      <div class="hs-tooltip inline-block [--placement:right]">
        <label for="my_modal" class="hover:cursor-pointer flex items-center gap-x-3.5 py-2 px-3 text-sm rounded-lg hover:bg-neutral-100">
          <i class="bi bi-plus-square text-xl"></i>
        </label>
      </div>
      <div class="hs-tooltip inline-block [--placement:right]">
        <%= link_to "#_path", class:"flex items-center gap-x-3.5 py-2 px-3 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
          <i class="bi bi-heart text-xl"></i>
        <% end %>
      </div>
      <div class="hs-tooltip inline-block [--placement:right]">
          <%= link_to "#_path", class:"flex items-center gap-x-3.5 py-2 px-3 text-sm rounded-lg hover:bg-neutral-100", data: { turbo: false } do %>
            <i class="bi bi-person-circle text-xl"></i>
          <% end %>
      </div>
      <div class="grid"><!-- 右端の透明なスペース --></div>
    </div>
  </div>
</header>
