<% content_for(:title, t('.title')) %>
<div class="flex justify-center pt-20 mb-5">
  <h1 class="text-lg font-semibold" >マイページ</h1>
</div>

<!-- 大きな画面用 -->
<div class="hidden md:block lg:block">

  <%= link_to profile_path do %>
    <div class="bg-white rounded-xl shadow-md border border-neutral-200 p-6 w-1/2 mx-auto">
      <div class="flex justify-center">
        <%= image_tag current_user.avatar_url, class: 'rounded-full h-24 w-24 border-2 object-contain' %>
      </div>
      <div class="flex justify-center mt-4 text-bace font-semibold break-all">
        <%= current_user.name %>
      </div>
    </div>
  <% end %>

</div>


<!-- スマホ用 -->
<div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full py-5">
  <nav class="max-w-[85rem] w-full mx-auto" aria-label="Global">

    <%= link_to profile_path do %>
      <div class="bg-white rounded-xl shadow-md border border-neutral-200 p-6 w-5/6 mx-auto">
        <div class="flex justify-center">
          <%= image_tag current_user.avatar_url, class: 'rounded-full h-24 w-24 border-2 object-contain' %>
        </div>
        <div class="flex justify-center mt-4 text-bace font-semibold break-all">
          <%= current_user.name %>
        </div>
      </div>
    <% end %>

  </nav>
</div>

<div class="border-t-2 border-neutral-100 my-5">
 <!-- 余白 -->
</div>


<!-- ステータス別投稿表示エリア -->
<div data-controller="tabber">
  <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 items-center w-5/6 mx-auto">
    <ul class="flex w-full">
      <li class="flex-1  w-full">
        <%= link_to '公開中', 'javascript:void(0)', class: 'block p-4 text-darkbrown border-b-2 border-darkbrown rounded-t-lg active  active-tab', aria: { current: "page" }, data: { tabber_target: 'tab_menu', action: 'tabber#tab_menuClick' } %>
      </li>
      <li class="flex-1  w-full">
        <%= link_to '非公開', 'javascript:void(0)', class: 'block p-4 rounded-t-lg not-active', data: { tabber_target: 'tab_menu', action: 'tabber#tab_menuClick' } %>
      </li>
      <li class="flex-1  w-full">
        <%= link_to '下書き', 'javascript:void(0)', class: 'block p-4 rounded-t-lg not-active', data: { tabber_target: 'tab_menu', action: 'tabber#tab_menuClick' } %>
      </li>
    </ul>
  </div>

  <!-- ステータス別の投稿表示部分 -->
  <div>
  <div data-tabber-target="content">
    <!-- 公開中の投稿 -->
    <div class="flex flex-wrap m-4">
      <% if @posts_published.present? %>
        <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
          <%= render @posts_published %>
        </div>
      <% else %>
        <div class='text-base m-auto'>公開中の投稿はありません</div>
      <% end %>
    </div>
  </div>

  <div class="hidden" data-tabber-target="content">
    <!-- 非公開の投稿 -->
    <div class="flex flex-wrap m-4">
      <% if @posts_unpublished.present? %>
        <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
          <%= render @posts_unpublished %>
        </div>
      <% else %>
        <div class='text-base m-auto'>非公開の投稿はありません</div>
      <% end %>
    </div>
  </div>

  <div class="hidden" data-tabber-target="content">
    <!-- 下書きの投稿 -->
    <div class="flex flex-wrap m-4">
      <% if @posts_draft.present? %>
        <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
          <%= render @posts_draft %>
        </div>
      <% else %>
        <div class='text-base m-auto'>下書きの投稿はありません</div>
      <% end %>
    </div>
  </div>
</div>
