<div class="card rounded-xl bg-base-100 shadow-md aspect-[1/1]">
  <div class="card-image" style="height: 75%;">
    <%= link_to image_tag(post.post_image.url, class: 'rounded-t-xl w-full h-full object-cover'), post_path(post) %>
  </div>

  <div class="flex justify-between items-center mx-3 py-1 border-b">
    <p class="text-xs md:text-sm">
      <%= post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y.%-m.%-d") %>
    </p>

    <div class="flex">
      <!-- ログインしていない場合は、アイコンを表示しない-->
      <% if current_user %>
        <div>
          <!-- 自分の投稿の場合は編集ボタン、他者の投稿ならお気に入りボタンを表示 -->
          <% if current_user.own?(post) %>
            <%= link_to edit_post_path(post) do %>
              <i class="bi bi-pencil text-base md:text-xl"></i>
            <% end %>
          <% else %>
            <%= render 'posts/favorite_buttons', { post: post } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex items-center mx-2" style="height: 25%">
    <%= image_tag post.user.avatar_url, class: 'rounded-full border h-5 w-5 md:w-5 md:h-5 xl:w-7 xl:h-7 object-contain' %>
    <span class="text-xs md:text-sm ml-1 md:ml-2 overflow-hidden text-ellipsis whitespace-nowrap">
      <%= post.user.name %>
    </span>
  </div>

</div>