<% content_for(:title, t('.title')) %>
<div class="flex justify-center mt-5 mb-5">
  <h1 class="text-2xl font-semibold text-yellow-900" >マイページ</h1>
</div>

<div class="flex justify-between items-center w-10/12 mx-auto text-yellow-900 py-5">
  <div class="text-left">
    <h2 class="text-xl font-semibold" ><%= @user.name %></h2>
  </div>
</div>

<!-- 大きな画面用 -->
<div class="hidden md:block lg:block">
  <div class="flex flex-wrap justify-between text-yellow-900 w-10/12 mx-auto mb-6">
    <div class="flex flex-col items-center">
    <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
      <i class="bi bi-person-gear text-2xl"></i>
    <% end %>
      <span class="mt-2 text-sm text-center">プロフィール</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-card-list text-2xl"></i>
      <% end %>
      <span class="mt-2 text-sm text-center">商品登録</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-pencil-square text-2xl"></i>
      <% end %>
      <span class="mt-2 text-sm text-center">下書き</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-journals text-2xl "></i>
      <% end %>
      <span class="mt-2 text-sm text-center">ダイアリー</span>
    </div>
  </div>
</div>

<!-- スマホ用 -->
<div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full py-5">
  <nav class="max-w-[85rem] w-full mx-auto text-yellow-900" aria-label="Global">
    <div class="flex flex-wrap justify-between text-yellow-900 w-10/12 mx-auto">
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-person-gear text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">プロフィール</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-card-list text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">商品登録</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-pencil-square text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">下書き</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-journals text-xl "></i>
        <% end %>
        <span class="mt-2 text-xs text-center">ダイアリー</span>
      </div>
    </div>
  </nav>
</div>

<div class="border-t-2 border-neutral-100 my-5">
 <!-- 余白 -->
</div>
<div class="flex justify-between items-center justify-center w-10/12 mx-auto text-yellow-900  py-5">
  <div class="text-left">
    <h2 class="text-xl font-semibold" ><%= @user.name %>の投稿</h2>
  </div>
</div>

<div class="flex flex-wrap m-4">
    <% if @posts.present? %>
      <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
        <%= render @posts %>
      </div>
    <% else %>
        <div class= 'text-lg m-auto'>投稿はありません</div>
    <% end %>
</div>
