<% content_for(:title, t('.title')) %>
<div class="flex justify-center pt-20 mb-5">
  <h1 class="text-lg font-semibold" >投稿検索</h1>
</div>

<div class="flex justify-between items-center w-5/6 mx-auto mb-5">
  <div class="flex items-center text-left">
    <h2 class="text-base font-semibold" >検索方法を選択</h2>
    <!-- 検索する範囲の説明モーダル -->
    <i class="bi bi-question-circle cursor-pointer hover:text-orange ml-2" onclick="search_info_modal.showModal()"></i>
  </div>
</div>

<div data-controller="search">
  <!-- 検索方法選択エリア -->
  <!-- 大きな画面用 -->
  <div class="hidden md:block lg:block">
    <div class="flex flex-wrap justify-between w-5/6 mx-auto mb-6">

      <div class="flex flex-col items-center">
        <div class="flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="brand">
          <i class="bi bi-tag text-2xl"></i>
        </div>
        <span class="mt-2 text-sm text-center">ブランド</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="used_year">
          <i class="bi bi-clock-history text-2xl"></i>
        </div>
        <span class="mt-2 text-sm text-center">使用年数</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="color">
          <i class="bi bi-palette text-2xl"></i>
        </div>
        <span class="mt-2 text-sm text-center">カラー</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="refine">
          <i class="bi bi-sliders text-2xl "></i>
        </div>
        <span class="mt-2 text-sm text-center">絞り込み</span>
      </div>

    </div>
  </div>

  <!-- スマホ用 -->
  <div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full">
    <nav class="max-w-[85rem] w-full mx-auto" aria-label="Global">
      <div class="flex flex-wrap justify-between w-5/6 mx-auto">

        <div class="flex flex-col items-center">
          <div class="flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="brand">
            <i class="bi bi-tag text-xl"></i>
          </div>
          <span class="mt-2 text-xs text-center">ブランド</span>
        </div>

        <div class="flex flex-col items-center">
          <div class="flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="used_year">
            <i class="bi bi-clock-history text-xl"></i>
          </div>
          <span class="mt-2 text-xs text-center">使用年数</span>
        </div>

        <div class="flex flex-col items-center">
          <div class="flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="color">
            <i class="bi bi-palette text-xl"></i>
          </div>
          <span class="mt-2 text-xs text-center">カラー</span>
        </div>

        <div class="flex flex-col items-center">
          <div class="flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:text-natural hover:bg-mocha" data-action="click->search#select" data-condition="refine">
            <i class="bi bi-sliders text-xl "></i>
          </div>
          <span class="mt-2 text-xs text-center">絞り込み</span>
        </div>

      </div>
    </nav>
  </div>

  <!-- 検索方法別の条件指定部分 -->
  <!-- ブランド(ユーザー名)の選択肢表示 -->
  <div class="brand_search" data-search-target="condition" data-condition="brand">
    <div class="bg-white rounded-xl shadow-md p-4 w-5/6 mx-auto">
      <table class="table w-full">
        <tr>
          <th>ブランドを選択</th>
        </tr>
        <tbody>
          <% @brand_admins.each do |brand| %>
            <tr class="hover:bg-natural">
              <td class="flex items-center cursor-pointer" onclick="this.querySelector('form').submit();">
                <%= image_tag(brand.avatar_url, alt: "#{brand.name}のアバター", class: "w-10 h-10 rounded-full border mr-2") %>
                <%= form_with url: result_searches_path, method: :post, data: { turbo: false } do |f| %>
                  <%= f.hidden_field :brand_admin_id, value: brand.id %>
                  <%= f.submit brand.name, class: "block w-full text-left whitespace-normal break-all" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- 使用年数の選択肢表示 -->
  <div class="used_year_search" data-search-target="condition" data-condition="used_year">
    <div class="bg-white rounded-xl shadow-md p-4 text-center w-5/6 mx-auto">
      <table class="table">
        <tr>
          <th>使用年数を選択</th>
        </tr>
        <tbody>
          <% year_choices = [
            ["半年未満", "半年未満"],
            ["1年", "1年"],
            ["1年半", "1年半"],
            ["2年", "2年"],
            ["2年半", "2年半"],
            ["3年", "3年"],
            ["3年半", "3年半"],
            ["4年", "4年"],
            ["4年半", "4年半"],
            ["5年", "5年"],
            ["5年以上", "5年以上"],
            ["10年以上", "10年以上"],
          ] %>
          <% year_choices.each do |year_text| %>
            <tr class="hover:bg-natural">
              <td>
                <%= form_with url: result_searches_path, method: :post, data: { turbo: false } do |f| %>
                  <%= f.hidden_field :used_year, value: year_text[0] %>
                  <%= f.submit year_text[0], class: "block w-full text-left cursor-pointer" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- カラーの選択肢表示 -->
  <div class="color_search" data-search-target="condition" data-condition="color">
    <div class="bg-white rounded-xl shadow-md p-4 text-center w-5/6 mx-auto">
      <table class="table">
        <tr>
          <th>カラーを選択</th>
        </tr>
        <tbody>
          <% color_choices = [
            ["ブラック系", "ブラック系"],
            ["ブラウン系", "ブラウン系"],
            ["キャメル系", "キャメル系"],
            ["ベージュ系", "ベージュ系"],
            ["グレー系", "グレー系"],
            ["レッド系", "レッド系"],
            ["ピンク系", "ピンク系"],
            ["オレンジ系", "オレンジ系"],
            ["イエロー系", "イエロー系"],
            ["グリーン系", "グリーン系"],
            ["ブルー系", "ブルー系"],
            ["パープル系", "パープル系"],
          ] %>
          <% color_choices.each do |color_text| %>
            <tr class="hover:bg-natural">
              <td>
                <%= form_with url: result_searches_path, method: :post, data: { turbo: false } do |f| %>
                  <%= f.hidden_field :color, value: color_text[0] %>
                  <%= f.submit color_text[0], class: "block w-full text-left cursor-pointer" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 絞り込み条件表示 -->
  <div class="hidden" data-search-target="condition" data-condition="refine">
    <div class="bg-white rounded-xl shadow-md p-4 text-center w-5/6 mx-auto">
      <table class="table">
        <tr>
          <th>絞り込み条件を指定</th>
        </tr>
      </table>

      <%= form_with url: result_searches_path, method: :post, data: { turbo: false } do |f| %>
        <!-- 動的セレクトボックス -->
        <div data-controller="product-select">
          <!-- ブランド選択 -->
          <div class="mx-auto w-11/12 md:w-1/2 pt-3">
            <%= f.label :brand_name, 'ブランド', class: 'label text-xs font-medium' %>
            <%= f.select :brand_admin_id, @brand_admins.collect { |brand_admin| [brand_admin.name, brand_admin.id] }, { include_blank: "未選択" }, class: 'select rounded-lg border border-neutral-200 w-full', data: { action: "change->product-select#brandChange" } %>
          </div>

          <!-- 商品選択 -->
          <div class="mx-auto w-11/12 md:w-1/2 pt-3">
            <%= f.label :product_name, '商品名', class: 'label text-xs font-medium' %>
            <%= f.select :product_id, [], { include_blank: "ブランドを先に選択してください" }, class: 'select rounded-lg border border-neutral-200 w-full', data: { "product-select-target": "products" } %>
          </div>
        </div>

        <!-- 使用年数選択 -->
        <div class="mx-auto w-11/12 md:w-1/2 pt-3">
          <%= f.label :used_year, '使用年数', class: 'label text-xs font-medium' %>
          <%= f.select :used_year, [
            ["半年未満", "半年未満"],
            ["1年", "1年"],
            ["1年半", "1年半"],
            ["2年", "2年"],
            ["2年半", "2年半"],
            ["3年", "3年"],
            ["3年半", "3年半"],
            ["4年", "4年"],
            ["4年半", "4年半"],
            ["5年", "5年"],
            ["5年以上", "5年以上"],
            ["10年以上", "10年以上"],
          ], { include_blank: "未選択" }, class: 'select rounded-lg border border-neutral-200 w-full' %>
        </div>

        <!-- カラー選択 -->
        <div class="mx-auto w-11/12 md:w-1/2 pt-3">
          <%= f.label :color, 'カラー', class: 'label text-xs font-medium' %>
          <%= f.select :color, [
            ["ブラック系", "ブラック系"],
            ["ブラウン系", "ブラウン系"],
            ["キャメル系", "キャメル系"],
            ["ベージュ系", "ベージュ系"],
            ["グレー系", "グレー系"],
            ["レッド系", "レッド系"],
            ["ピンク系", "ピンク系"],
            ["オレンジ系", "オレンジ系"],
            ["イエロー系", "イエロー系"],
            ["グリーン系", "グリーン系"],
            ["ブルー系", "ブルー系"],
            ["パープル系", "パープル系"],
          ], { include_blank: "未選択" }, class: 'select rounded-lg border border-neutral-200 w-full' %>
        </div>

        <div class='mx-auto w-11/12 md:w-1/2'>
        <%= f.submit "選択した条件で検索", class: "btn mt-10 w-full mb-5 mx-auto h-10 text-natural bg-mocha hover:text-darkbrown hover:bg-natural border-none" %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- モーダルの中身 -->
<dialog id="search_info_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-base font-bold mb-2">検索範囲について</h3>
    <p class="text-sm py-4">公開されている投稿の「アイテム情報」を検索対象としています。</p>
    <p class="text-sm py-4 border-t">選択した条件に当てはまるメイン画像が登録されている場合でも、<br>「アイテム情報」に一致する情報登録がない場合は検索結果に表示されません。</p>
    <div class="modal-action">
        <button class="btn btn-sm text-sm border-neutral-200 text-darkbrown" onclick="search_info_modal.close()">✕</button>
    </div>
  </div>
</dialog>