<% content_for(:title, t('.title')) %>
<div class="flex justify-center mt-5 mb-5">
  <h1 class="text-2xl font-semibold text-yellow-900" >検索</h1>
</div>

<div class="flex justify-between items-center w-10/12 mx-auto text-yellow-900 py-5">
  <div class="text-left">
    <h2 class="text-xl font-semibold" ></h2>
  </div>
</div>

<!-- 大きな画面用 -->
<div class="hidden md:block lg:block">
  <div class="flex flex-wrap justify-between text-yellow-900 w-10/12 mx-auto mb-6">
    <div class="flex flex-col items-center">
    <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
      <i class="bi bi-tag text-2xl"></i>
    <% end %>
      <span class="mt-2 text-sm text-center">ブランド</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to "#", class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-clock-history text-2xl"></i>
      <% end %>
      <span class="mt-2 text-sm text-center">使用年数</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to "#", class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-palette text-2xl"></i>
      <% end %>
      <span class="mt-2 text-sm text-center">カラー</span>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to '#', class:"flex items-center justify-center w-24 h-24 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
        <i class="bi bi-sliders text-2xl "></i>
      <% end %>
      <span class="mt-2 text-sm text-center">絞り込み</span>
    </div>
  </div>
</div>

<!-- スマホ用 -->
<div class="flex flex-wrap md:hidden sm:justify-start sm:flex-nowrap w-full py-5">
  <nav class="max-w-[85rem] w-full mx-auto text-yellow-900" aria-label="Global">
    <div class="flex flex-wrap justify-between text-yellow-900 w-10/12 mx-auto">
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-tag text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">ブランド</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to "#", class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-clock-history text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">使用年数</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to "#", class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-palette text-xl"></i>
        <% end %>
        <span class="mt-2 text-xs text-center">カラー</span>
      </div>
      <div class="flex flex-col items-center">
        <%= link_to '#', class:"flex items-center justify-center w-10 h-10 rounded-full bg-neutral-100 hover:bg-[#fdba74]" do %>
          <i class="bi bi-sliders text-xl "></i>
        <% end %>
        <span class="mt-2 text-xs text-center">絞り込み</span>
      </div>
    </div>
  </nav>
</div>