<%= form_with model: post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :post_image, '写真（5枚まで）', class: 'label w-full md:w-1/2 mx-auto'%>
  <%= f.file_field :post_image, multiple: true, include_hidden: false, class: 'file-input file-input-bordered form-control w-full md:w-1/2 mx-auto'%>
  <%= f.hidden_field :post_image, multiple: true %>

  <%= f.label :body, class: "label w-10/12 md:w-1/2 mx-auto" %>
  <%= f.text_area :body,
  class: "input input-bordered bg-neutral-100 form-control mb-6 w-10/12 md:w-1/2 mx-auto h-auto",
  rows: 5, placeholder: "アイテム購入時のエピソードや自分なりの使い方などを共有しましょう!" %>

  <div class='mx-auto w-10/12 md:w-1/2'>
    <%= f.submit "投稿", class: "btn mt-8 w-full mt-6 mb-5 mx-auto h-10 bg-[#E6CCB585] hover:bg-[#fdba74] text-yellow-900", id: "submit-button"%>
  </div>
<% end %>