<div class="card rounded-xl bg-base-100 shadow-md aspect-[1/1]">
  <div class="card-image" style="height: 84%;">
    <% if post.post_image.present? %>
      <%= link_to image_tag(post.post_image.first.url, class: 'rounded-t-xl w-full h-full object-cover'), post_path(post) %>
    <% else %>
      <%= link_to image_tag('no_image.png', class: 'rounded-t-xl w-full h-full object-cover'), post_path(post) %>
    <% end %>
  </div>
  <div class="flex items-center justify-between" style="height: 16%">
    <ul class="list-inline">
        <li class="text-xs ml-3"><i class="bi bi-person"></i><%= post.user.name %></li>
    </ul>

    <% if current_user.own?(post) %>
      <%= link_to edit_post_path(post) do %>
        <i class="bi bi-pencil text-base md:text-xl mr-4"></i>
      <% end %>
    <% else %>
      <%= render 'favorite_buttons', { post: post } %>
    <% end %>
  </div>
</div>