<% if @post.errors.present? %>
  <%= turbo_stream.replace "post-form" do %>
    <%= render 'posts/form', post: @post %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "post-form" do %>
    <div id="flash-message" class="absolute top-16 w-full mx-auto">
      <%= render 'shared/flash_message' %>
    </div>
    <%= render 'posts/form_result', post: Post.new, post: @post %>
    <script>
     // 画面が一番上にスクロールするように
      window.scrollTo(0, 0);
    </script>
  <% end %>
<% end %>