<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="w-full p-4 md:px-0 md:py-2 md:w-1/2 mx-auto border-b">
    <ul class="list-inline flex items-center">
      <li class="mr-2"><%= image_tag 'no_image.png', width: "40", height: "40", class: "rounded-full" %></li>
      <li class="text-yellow-900"><%= @post.user.name %></li>
    </ul>
  </div>
</div>

<div class="relative w-full md:w-1/2 mx-auto">
  <div class="overflow-hidden relative">
    <div class="flex transition-transform duration-500 ease-in-out" id="carouselItems">
      <% if @post.post_image.present? %>
        <% @post.post_image.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %> w-full">
            <%= image_tag(image.url, class: 'block w-full h-auto object-contain') %>
          </div>
        <% end %>
      <% else %>
        <div class="carousel-item active w-full">
          <%= image_tag('no_image.png', class: 'block w-full h-auto object-contain') %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @post.post_image.count > 1 %>
    <!-- 画像が複数枚ある場合のみ表示 -->
    <button class="absolute left-1 top-1/2 transform -translate-y-1/2 bg-gray-200 bg-opacity-60 shadow-md text-white w-10 h-10 rounded-full" onclick="prevSlide()">❮</button>
    <button class="absolute right-1 top-1/2 transform -translate-y-1/2 bg-gray-200 bg-opacity-60 shadow-md text-white w-10 h-10 rounded-full" onclick="nextSlide()">❯</button>
  <% end %>
</div>

<!-- ログインしていない場合は、アイコンを表示しない-->
<% if current_user %>
  <div>
    <!-- 自分以外の投稿ならお気に入りアイコンを表示 -->
    <% unless current_user.own?(@post) %>
      <div class="flex justify-end w-full px-4 pt-4 pb-4 md:px-0 md:pt-4 md:pb-4 md:w-1/2 mx-auto">
        <%= render 'favorite_buttons', { post: @post } %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- 投稿本文 -->
<div class="body-content">
  <div class="w-full px-4 pt-4 pb-4 md:px-0 md:pt-4 md:pb-4 md:w-1/2 mx-auto text-yellow-900 border-t">
    <p><%= simple_format(@post.body) %></p>
  </div>
</div>

<!-- アイテム情報 -->
<div class="flex items-center w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto border-t">
<h3 class="font-semibold text-yellow-900" >■アイテム情報</h3>
</div>

<!-- 使用年数 -->
<div class="used_year">
  <div class="flex w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto text-yellow-900">
    <div class="w-1/5">
      <p>使用年数 </p>
    </div>
    <div class="w-4/5">
      <% if @post.used_year %>
        <p><%= @post.used_year %></p>
      <% else %>
        <p>未登録</p>
      <% end %>
    </div>
  </div>
</div>

<!-- ブランド -->
<div class="brand">
  <div class="flex w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto text-yellow-900">
    <div class="w-1/5">
      <p>ブランド </p>
    </div>
    <div class="w-4/5">
      <% if @brand_admin %>
        <p><%= @brand_admin.name %></p>
      <% else %>
        <p>未登録</p>
      <% end %>
    </div>
  </div>
</div>

<!-- カラー -->
<div class="color">
  <div class="flex w-full px-4 pt-4 pb-10 md:px-0 md:pt-4 md:pb-10 md:w-1/2 mx-auto text-yellow-900">
    <div class="w-1/5">
      <p>カラー </p>
    </div>
    <div class="w-4/5">
      <% if @post.color %>
        <p><%= @post.color %></p>
      <% else %>
        <p>未登録</p>
      <% end %>
    </div>
  </div>
</div>


<!-- お手入れ情報 -->
<div class="flex items-center w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto border-t">
<h3 class="font-semibold text-yellow-900" >■お手入れ情報</h3>
</div>

<!-- 頻度 -->
<div class="care_frequency">
  <div class="flex w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto text-yellow-900">
    <div class="w-1/5">
      <p>ケア頻度 </p>
    </div>
    <div class="w-4/5">
      <% if @post.care_frequency.present? %>
        <p><%= @post.care_frequency %></p>
      <% else %>
        <div class="w-4/5">
          <p>未登録</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- ケアアイテム -->
<div class="care_item">
  <div class="w-full px-4 pt-4 md:px-0 md:pt-4 md:w-1/2 mx-auto text-yellow-900 flex items-start">
    <div class="w-1/5">
      <p>ケア用品 </p>
    </div>
    <div class="w-4/5">
      <% if @post.care_item.present? %>
        <div class="rounded-lg border border-neutral-200 p-2 w-full">
          <p><%= simple_format(@post.care_item) %></p>
        </div>
      <% else %>
        <div class="w-4/5">
          <p>未登録</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- ケア方法 -->
<div class="care_howto">
  <div class="w-full px-4 pt-4 pb-10 md:px-0 md:pt-4 md:pb-10 md:w-1/2 mx-auto text-yellow-900 flex items-start">
    <div class="w-1/5">
      <p>ケア方法 </p>
    </div>
    <div class="w-4/5">
      <% if @post.care_howto.present? %>
        <div class="rounded-lg border border-neutral-200 p-2 w-full">
          <p><%= simple_format(@post.care_howto) %></p>
        </div>
      <% else %>
        <div class="w-4/5">
          <p>未登録</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user && current_user.own?(@post) %>
　<div class="w-full p-4 md:px-0 md:py-2 md:w-1/2 mx-auto flex justify-between items-center">
    <%= link_to "削除", post_path(@post), class: "btn w-1/3 bg-[#e5e5e5] hover:bg-[#a3a3a3] text-yellow-900", id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
    <%= link_to "編集", edit_post_path(@post), class: "btn w-1/3 bg-[#E6CCB585] hover:bg-[#fdba74] text-yellow-900", id: "button-edit-#{@post.id}" %>
  </div>
<% end %>

<script>
  let currentIndex = 0;

  function showSlide(index) {
    const slides = document.querySelectorAll('.carousel-item');
    currentIndex = (index + slides.length) % slides.length;

    const offset = -currentIndex * 100;
    document.getElementById('carouselItems').style.transform = `translateX(${offset}%)`;

    slides.forEach((slide, i) => slide.classList.toggle('active', i === currentIndex));
  }

  function nextSlide() {
    showSlide(currentIndex + 1);
  }

  function prevSlide() {
    showSlide(currentIndex - 1);
  }

  // スワイプ機能
  const carousel = document.getElementById('carouselItems');
  let startX;

  carousel.addEventListener('touchstart', (event) => {
    startX = event.touches[0].clientX;
  });

  carousel.addEventListener('touchend', (event) => {
    const endX = event.changedTouches[0].clientX;
    const distanceX = endX - startX;

    if (distanceX > 30) {
      prevSlide(); // 右スワイプ
    } else if (distanceX < -30) {
      nextSlide(); // 左スワイプ
    }
  });

  showSlide(currentIndex); // 最初のスライドを表示
</script>