<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json"> <!-- PWA対応 -->
    <%= favicon_link_tag image_path('favicon.png'), type: 'image/png' %> <!-- ファビコン設定 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- デベロッパーツールの警告対処・プレロードの設定 -->
    <link rel="preload" href="<%= asset_path 'application.css' %>" as="style">
    <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
    <!-- ここまで -->

    <!-- 本番環境のみでGoogle tag (gtag.js)を表示 -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-WNV542D8LF"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WNV542D8LF');
      </script>
    <% end %>

    <!-- XのOGP設定 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@RUNTEQ_chi_yan" />
    <meta name="twitter:domain" content="leatherpalette.com" />
    <meta name="twitter:title" content="Leather Palette" />
    <meta name="twitter:description" content="革製品のエイジング共有アプリ" />
    <meta name="twitter:image" content="<%= asset_url('ogp.png') %>" />
  </head>

  <body class="min-h-screen bg-beige font-noto text-darkbrown">
    <header>
    <% if logged_in? && current_user.role == 'brand_admin' %>
      <%= render 'brand_admin/shared/header' %> <!-- ブランド管理者用のヘッダー -->
    <% elsif logged_in? %>
      <%= render 'shared/header' %> <!-- 一般ユーザー用のヘッダー -->
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    </header>
    <main class="flex-grow">
      <div class="lg:ml-60 md:ml-20 md:mb-36">
        <%= render 'shared/flash_message' %>
        <%= yield %>
      </div>
    </main>
    <footer class="footer footer-center p-10 mt-16 md:mt-4 sm:mt-0">
      <div class="lg:ml-64 md:ml-20 min-[320px]:mb-14 md:mb-0 z-10">
       <%= render 'shared/footer' %>
      </div>
    </footer>
  </body>

  <!-- PWA対応 -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker')
        .then((registration) => {
          console.log('Service Worker registered:', registration);
        })
        .catch((error) => {
          console.error('Service Worker registration failed:', error);
        });
      });
    }
  </script>
</html>
